html{
    background-color: #020659;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}
header, nav{
    color: #FFF;
}
h1 {
    font-size: 1.25em;
}
h2, h3 {
    font-size: 1em;
}
p, dl, dd {
    font-size: 1em;
}
footer p{
    font-size: .75em;
}